.MyTeams {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.leftContainer {
  padding: 20px; }

.rightContainer {
  padding: 20px; }

.teamsListContainer {
  width: 300px;
  display: flex;
  flex-direction: column; }

.teamsList .row {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0 12px 0 12px;
  margin-bottom: 10px; }

.teamActionItem {
  margin: 10px; }
