.TeamDashboard {
  display: flex;
  justify-content: flex-start; }

.leftContainer {
  padding: 10px;
  width: 40%; }

.rightContainer {
  padding: 20px;
  width: 60%; }

.teamMembersContainer {
  width: 300px;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: black; }

.teamMembersList .row {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0 12px 0 12px;
  margin-bottom: 10px; }

.teamActionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .teamActionsContainer .actionItem {
    margin: 5px 0 5px 0; }
